## sklearn PCAとTruncatedSVDの比較

In [6]:
import pandas as pd

In [4]:
df = pd.read_csv('../data/pca_sample.csv')
print(df.shape)
df.head()

(20, 4)

         x1        x2        x3        x4
0 -0.721830 -1.110365  0.186052  0.513363
1 -0.382250 -0.439136  0.153928 -0.392975
2  1.456909  1.028704 -1.882683 -0.219185
3 -0.073114 -0.342675  1.099750 -0.923495
4 -0.012683 -0.242206  0.565778 -0.978181

In [5]:
df.describe()

                 x1            x2            x3            x4
count  2.000000e+01  2.000000e+01  2.000000e+01  2.000000e+01
mean  -5.551115e-17  5.662137e-16  9.436896e-17 -5.100087e-17
std    1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00
min   -2.167489e+00 -2.115625e+00 -1.942338e+00 -2.249756e+00
25%   -6.530280e-01 -5.161532e-01 -5.618184e-01 -5.892364e-01
50%   -2.224668e-02  2.774462e-02  1.699900e-01 -9.445538e-02
75%    4.185438e-01  6.479593e-01  5.942657e-01  5.309792e-01
max    1.691527e+00  1.944117e+00  2.012865e+00  2.229974e+00

In [19]:
# 相関係数行列
df.corr()

          x1        x2        x3        x4
x1  1.000000  0.943608 -0.877850  0.121508
x2  0.943608  1.000000 -0.814495  0.194919
x3 -0.877850 -0.814495  1.000000 -0.170935
x4  0.121508  0.194919 -0.170935  1.000000

### sklearn.decomposition.PCA
https://scikit-learn.org/stable/modules/generated/sklearn.decomposition.PCA.html

In [41]:
from sklearn.decomposition import PCA

Rのprcomp、eigen、svdに一致

In [26]:
pca = PCA(n_components=2)
pca.fit(df)

PCA(n_components=2)

In [27]:
## 固有ベクトル
pca.components_

array([[-0.58153505, -0.57280461,  0.55677856, -0.15397889],
       [-0.13890374, -0.05367847,  0.07243157,  0.98619371]])

In [28]:
## 固有値
pca.explained_variance_

array([2.80209404, 0.95972198])

In [29]:
## 特異値
pca.singular_values_

array([7.29655993, 4.27021283])

In [30]:
# 主成分
pca.transform(df)

array([[ 1.0803344 ,  0.67961885],
       [ 0.62004485, -0.29973208],
       [-2.45097726, -0.61011389],
       [ 0.99331991, -0.80253789],
       [ 0.61174476, -0.90893298],
       [-2.61651996,  0.01433741],
       [-0.9603671 ,  0.4558491 ],
       [ 2.07095984,  0.51204651],
       [ 1.63181076,  1.31745037],
       [ 0.26669102,  2.31537841],
       [-1.78430467, -0.6596796 ],
       [ 0.00673924, -2.2745547 ],
       [-0.86206566,  1.04827551],
       [ 0.28505365, -0.56313217],
       [ 0.93978566, -0.4270825 ],
       [-2.6525435 ,  0.77292307],
       [-1.16150274, -0.33224648],
       [ 3.76721501, -0.55517478],
       [-0.90199368,  0.16728738],
       [ 1.11657547,  0.15002045]])

### sklearn.decomposition.TruncatedSVD
https://scikit-learn.org/stable/modules/generated/sklearn.decomposition.TruncatedSVD.html

In [31]:
from sklearn.decomposition import TruncatedSVD

In [32]:
svd = TruncatedSVD(n_components=2)
svd.fit(df)

TruncatedSVD()

In [33]:
## 固有ベクトル
svd.components_

array([[-0.58153505, -0.57280461,  0.55677856, -0.15397889],
       [-0.13890374, -0.05367847,  0.07243157,  0.98619371]])

In [39]:
## 固有値
#svd.explained_variance_
svd.explained_variance_ * (20/19)

array([2.80209404, 0.95972198])

In [36]:
## 特異値
svd.singular_values_

array([7.29655993, 4.27021283])

In [42]:
# 主成分
svd.transform(df)

array([[ 1.0803344 ,  0.67961885],
       [ 0.62004485, -0.29973208],
       [-2.45097726, -0.61011389],
       [ 0.99331991, -0.80253789],
       [ 0.61174476, -0.90893298],
       [-2.61651996,  0.01433741],
       [-0.9603671 ,  0.4558491 ],
       [ 2.07095984,  0.51204651],
       [ 1.63181076,  1.31745037],
       [ 0.26669102,  2.31537841],
       [-1.78430467, -0.6596796 ],
       [ 0.00673924, -2.2745547 ],
       [-0.86206566,  1.04827551],
       [ 0.28505365, -0.56313217],
       [ 0.93978566, -0.4270825 ],
       [-2.6525435 ,  0.77292307],
       [-1.16150274, -0.33224648],
       [ 3.76721501, -0.55517478],
       [-0.90199368,  0.16728738],
       [ 1.11657547,  0.15002045]])